<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vaishali_tatsat_comp304sec003_lab4_ex1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VaishaliSiddeshwar_TatsatTendulkar_COMP304Sec003_Lab4_Ex1">
        <activity
            android:name="com.example.vaishali_tatsat_comp304sec003_lab4_ex1.AddEditTestActivity"
            android:exported="true"
            android:parentActivityName="com.example.vaishali_tatsat_comp304sec003_lab4_ex1.PatientActivity"
            />
        <activity
            android:name="com.example.vaishali_tatsat_comp304sec003_lab4_ex1.TestActivity"
            android:exported="true"
            android:parentActivityName="com.example.vaishali_tatsat_comp304sec003_lab4_ex1.PatientActivity"
            />
        <activity
            android:name="com.example.vaishali_tatsat_comp304sec003_lab4_ex1.AddEditPatientActivity"
            android:exported="true"
            android:parentActivityName="com.example.vaishali_tatsat_comp304sec003_lab4_ex1.PatientActivity" />
        <activity
            android:name="com.example.vaishali_tatsat_comp304sec003_lab4_ex1.PatientActivity"
            android:exported="true" />
        <activity
            android:name="com.example.vaishali_tatsat_comp304sec003_lab4_ex1.LoginActivity"
            android:exported="true"
            android:parentActivityName="com.example.vaishali_tatsat_comp304sec003_lab4_ex1.MainActivity"
            />
        <activity
            android:name="com.example.vaishali_tatsat_comp304sec003_lab4_ex1.RegisterNurseActivity"
            android:exported="true"
            android:parentActivityName="com.example.vaishali_tatsat_comp304sec003_lab4_ex1.MainActivity" />
        <activity
            android:name="com.example.vaishali_tatsat_comp304sec003_lab4_ex1.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>